<!DOCTYPE html>
{% load flatpages %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ flatpage.title }}</title>

        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />

        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    </head>
    <body>

        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
           <div class="container">
               <a class="navbar-brand" href="#">Django</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse"
                       data-target="#navbarResponsive"
                       aria-controls="navbarResponsive" aria-expanded="false"
                       aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                   {% get_flatpages as flatpages %}
                  <ul class="navbar-nav ml-auto">
                    {% for page in flatpages %}
                      <li class="nav-item"><a class="nav-link" href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                  <li class="nav-item"><a class="nav-link" href="/contacts">Contacts</a></li>
                  </ul>

               </div>
           </div>
        </nav>
        <!-- Page content-->
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        {% block title %}
                        {{ flatpage.title }}
                        {% endblock title %}
                    </div>
                </div>
            </div>

            <div class="spacer-10"></div>

           <div class="row">
               <div class="col-lg-3"></div>
               <div class="col-lg-6">
                   {% block content %}
                   {{ flatpage.content }}
                   {% endblock content %}
               </div>
               <div class="col-lg-3"></div>
           </div>
        </div>


        <footer class="footer">
            {% block footer %}
            <p>
                Some footer content &copy; 2022
            </p>
            {% endblock footer %}
        </footer>
    </body>
</html>
